.form__link-wrapper {
    display: flex;
    position: relative;
    max-width: 100%;
    /* flex-wrap: wrap; */
}
.form__link-wrapper p {
    top: -50px;
    position: absolute;
    word-break: break-all;
}
.calculation__caption {
    margin-bottom: 70px;
}
.calculation__form {
    grid-template-areas: 'name email phone' 'file textarea textarea' 'btn . .';
}
@media screen and (max-width: 991px) {
    .curtain {
        z-index: -1;
    }
}

.name  {
    grid-area: calculation-name;
}
.calculation-email {
    grid-area: calculation-email;
}
.calculation-tel {
    grid-area: phone;
}
.file__item {
    grid-area: file;
}
.form-textarea {
    grid-area: textarea;
}
.calculation__btn {
    grid-area: btn;
}

@media screen and (max-width: 991px) {
    body {
        overflow: visible;
    }
    .curtain {
        background: none;
    }
}